:root {
  --logoBlue: rgb(66, 196, 240);
  --logoPurple: rgb(46, 10, 117);
  --losgoGrey: rgb(166, 166, 166);
  --board: darkslategray;
  --black: black;
  --blackMute: rgb(35, 35, 35);
  --blackT: rgb(0, 0, 0, 0.5);
  --white: rgb(245, 245, 245);
  --whiteT: rgb(245, 245, 245, 0.7);
  --darkShadow: rgba(0, 0, 0, 0.8);
  --lightShadow: rgba(100, 100, 100, 0.8);
  --gray: dimgray;
  --darkGray: rgb(100, 100, 100);
  --lightGray: rgb(160, 160, 160);
  --lightRed: rgb(255, 0, 43);
  --red: crimson;
  --redT: rgb(220, 20, 60, 0.5);
  --darkRed: rgb(170, 35, 60);
  --lightYellow: rgb(255, 255, 0);
  --yellow: rgb(185, 185, 19);
  --darkYellow: rgb(150, 150, 30);
  --lightPurple: rgb(85, 65, 210);
  --purple: darkslateblue;
  --darkPurple: rgb(45, 35, 100);
  --lightBlue: rgb(155, 190, 255);
  --blue: cornflowerblue;
  --darkBlue: rgb(50, 100, 180);
  --greenyellow: greenyellow;
  --lightGreen: rgb(0, 185, 0);
  --green: green;
  --darkGreen: rgb(10, 80, 10);
  --turquoise: turquoise;
  font-size: 12px;
}

*,
*:after,
*:before,
* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1rem;
}

BODY {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100svh;
  width: 100%;
  padding: 6rem 2rem 2rem;
  background: url("./img/wood.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

BUTTON {
  border: none;
  background: var(--white);
  text-align: center;
}

.my_banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 4rem;
  background: var(--whiteT);
  color: var(--black);
  font-size: 1.2rem;
  width: 100%;
  z-index: 10;
}
.my_banner .content {
  margin: 0 auto;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.link_btn {
  display: inline-block;
  background: none;
  color: var(--red);
  text-decoration: none;
}

.link_btn:visited,
.link_btn:focus,
.link_btn:active {
  color: var(--red);
}

.logo_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: var(--white);
}
.logo_btn SVG {
  height: 100%;
  width: auto;
}
.logo_btn .cls-1 {
  fill: var(--logoBlue);
}
.logo_btn .cls-2 {
  fill: var(--logoPurple);
}
.logo_btn .cls-3 {
  fill: var(--losgoGrey);
}

.board_game_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  max-width: 1000px;
  height: 100%;
}

.game_title {
  display: block;
  font-size: 2.5rem;
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  background: var(--blackMute);
  text-align: center;
  text-transform: uppercase;
  padding: 0.5rem 0;
  color: var(--white);
}
.game_title .red_text_title {
  color: var(--red);
}

.board {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  overflow: hidden;
  width: 100%;
  background: var(--board);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  transition: all 0.5s ease-in-out;
}

.games_count_container {
  position: absolute;
  top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.25rem;
  background: var(--blackT);
  padding: 0.5rem;
  transition: all 0.5s ease-in-out;
}
.games_count_container .score {
  transition: all 500ms ease;
  font-size: 1.5rem;
}
.games_count_container .lost_score {
  color: var(--red);
}
.games_count_container .win_score {
  color: var(--greenyellow);
}
.games_count_container .count_title {
  color: var(--white);
  font-weight: 400;
}

.player_count_container {
  left: 0.5rem;
}

.game_count_container {
  right: 0.5rem;
}

.playerBoard {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.playerBoard .card_display {
  max-width: 100px;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  padding: 0.25rem;
}
.playerBoard .card_game_name {
  margin-top: 0.25rem;
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
}

.display_alert {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  opacity: 0.9;
  height: calc(100% - 2rem);
  width: calc(100% - 2rem);
  border-radius: 0.5rem;
  padding: 1rem;
  transition: background 1s ease-in-out;
  color: var(--black);
}
.display_alert .alert_text {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
}

.cards_scores_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 240px;
  width: 100%;
  transition: all 0.5s ease-in-out;
  margin-top: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}
.card .title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .score {
  font-size: 2rem;
}

.given_container {
  background: var(--whiteT);
}

.score_container {
  background: var(--redT);
  color: var(--white);
}

.card_score {
  transition: all 0.5s ease-in-out;
  font-size: 2rem;
  color: var(--black);
}

.card-score-score {
  transition: all 0.5s ease-in-out;
  font-size: 2rem;
  color: var(--white);
}

.general_btns_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 0.5rem 0.5rem;
  background: var(--blackMute);
  width: 100%;
  padding: 0.5rem;
  overflow: hidden;
}

/* .waiting_block {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--black);
    color: var(--white);
    font-size: 2rem;
    text-transform: uppercase;
    z-index: 2;
} */
.btns_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: nowrap;
  width: 100%;
  transition: all 1s ease-in-out;
}

.hide {
  display: none;
}

.display_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
}
.display_btn .label_btn {
  text-transform: uppercase;
  color: var(--black);
  font-size: 1.2rem;
}

.red_btn:hover {
  background: var(--red);
}
.red_btn:hover .label_btn {
  color: var(--white);
}

.purple_btn:hover {
  background: var(--purple);
}
.purple_btn:hover .label_btn {
  color: var(--white);
}

.blue_btn:hover {
  background: var(--blue);
}
.blue_btn:hover .label_btn {
  color: var(--white);
}

@media screen and (min-width: 720px) {
  :root {
    font-size: 14px;
  }
  .board {
    grid-template-columns: 1fr 1fr;
  }
  .playerBoard .card_display {
    max-width: 200px;
  }
}